{% extends 'base.html.twig' %}

{% block title %}Lien de Modif{% endblock %}

{% block body %}
    <p>Veuillez conserver ce lien pour revenir modifier votre annonce <a href="/update/annonce/{{token}}">{{token}}</a></p>
{% endblock %}